# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js
.vite/

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development
.env.build
.vercel

# OCI configuration (contains sensitive credentials)
api/config/oci_config.php

# PHP Dependencies (Composer)
api/vendor/

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
