@font-face {
  font-family: 'Cicero';
  src: url('/assets/CiceroMedium.woff2') format('woff2'),
       url('/assets/CiceroMedium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100%;
}

#root {
  height: 100%;
}